{% extends "layout.html" %}
{% load static %}
{% block title %}
    Home Page
{% endblock %}

{% block main %}
        <div class="parent-body">
            <div class="search-profile card">
                <h3>Student Profile</h3>
                <form action="/profilePage" , method="Post">
                    {% csrf_token %}
                    {{form}}
                    <input type="submit" value="Submit" class="btn btn-success summary-submit-button">
                </form>
            </div>
            <div class="classroom-summary card">
                <h3>Classroom Summary</h3>
                <form action="/classroom-summary" method="GET">{% csrf_token %}
                    <select name="selectedClass" class="form-select select-dropdown">
                        <option disabled selected value> -- Select a class -- </option>
                        <option value="eight">Class 8</option>
                        <option value="nine">Class 9</option>
                        <option value="ten">Class 10</option>
                        <option value="eleven-commerce">Class 11 Commerce</option>
                        <option value="eleven-science">Class 11 Science</option>
                        <option value="twelve-commerce">Class 12 Commerce</option>
                        <option value="twelve-science">Class 12 Science</option>
                    </select>
                    <input type="submit" value="Select" class="btn btn-success summary-submit-button">
                </form>
            </div>
            <div class="admin-controls card">
                <h3>Admin Controls</h3>
                <a href="/admin" class="btn btn-success admin-navigate-button">Navigate to admin panel</a>
            </div>

    <div class="study1-container">
        <img src="{% static 'animated.jpg' %}" class="study1-image">
        <div class="tagline">
            <strong>Get Ready to unlock your potential,</strong>
            <span>with our esteemed organization.</span>
        </div>
    </div>
    <div class="promotion-cards">
        <div class="study1-para shadow p-3 mb-5 bg-white rounded">
            <heading class="heading">Smart Classes</heading>
            <content class="content">
                Unlock Your Potential with Smart Classes: Embrace Innovative
                Learning at Our Premier Teaching Institute!
            </content>
        </div>
        <div class="study1-para shadow p-3 mb-5 bg-white rounded">
            <heading class="heading">Expert Faculty</heading>
            <content class="content">
                Brings Together an All-Star Faculty Team to Inspire and Elevate
                Students to New Heights!
            </content>
        </div>
        <div class="study1-para shadow p-3 mb-5 bg-white rounded">
            <heading class="heading">Past Records</heading>
            <content class="content">
                Over the years, our students have consistently
                emerged as top rankers from various renowned schools.
            </content>
        </div>
    </div>

    <!-- <h1 class="top-header">Fees Managagement Tool</h1>
    <div class="parent-body">
        <div class="search-profile card">
            <h3>Student Profile</h3>
        </div>
        <div class="classroom-summary card">
            <h3>Classroom Summary</h3>
            <form action="/classroom-summary" method="GET">{% csrf_token %}
                <select name="selectedClass" class="form-select select-dropdown">
                    <option disabled selected value> -- Select a class -- </option>
                    <option value="eight">Class 8</option>
                    <option value="nine">Class 9</option>
                    <option value="ten">Class 10</option>
                    <option value="eleven-commerce">Class 11 Commerce</option>
                    <option value="eleven-science">Class 11 Science</option>
                    <option value="twelve-commerce">Class 12 Commerce</option>
                    <option value="twelve-science">Class 12 Science</option>
                </select>
                <input type="submit" value="Select" class="btn btn-success summary-submit-button">
            </form>
        </div>
        <div class="admin-controls card">
            <h3>Admin Controls</h3>
            <a href="/admin" class="btn btn-success admin-navigate-button">Navigate to admin panel</a>
        </div>
    </div>
    <div class="parent-body">
        <div class="search-profile card">
            <h3>Fees Record Update Form</h3>
            <a href="/fees-record-form" class="btn btn-success admin-navigate-button">Navigate to fees record updation form</a>
        </div>
        <div class="search-profile card">
            <h3>Monthly Statistics</h3>
            <a href="/monthly-stats" class="btn btn-success admin-navigate-button">Monthly Statistics Dashboard</a>
        </div>
    </div> -->

{% endblock %}
