{% extends "layout.html" %}
{% load static %}

{% block title %}
    Home Page
{% endblock %}

{% block main %}

    <div class="study1-container">
        <img src="{% static 'animated.jpg' %}" class="study1-image">
        <div class="tagline">
            <strong>Get Ready to unlock your potential,</strong>
            <span>with our esteemed organization.</span>
        </div>
    </div>
    <div class="promotion-cards">
        <div class="study1-para shadow p-3 mb-5 bg-white rounded">
            <heading class="heading">Smart Classes</heading>
            <content class="content">
                Unlock Your Potential with Smart Classes: Embrace Innovative
                Learning at Our Premier Teaching Institute!
            </content>
        </div>
        <div class="study1-para shadow p-3 mb-5 bg-white rounded">
            <heading class="heading">Expert Faculty</heading>
            <content class="content">
                Brings Together an All-Star Faculty Team to Inspire and Elevate
                Students to New Heights!
            </content>
        </div>
        <div class="study1-para shadow p-3 mb-5 bg-white rounded">
            <heading class="heading">Past Records</heading>
            <content class="content">
                Over the years, our students have consistently
                emerged as top rankers from various renowned schools.
            </content>
        </div>
    </div>
{% endblock %}
